{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

   

    <h1>S'inscrire </h1>

    {{ form_start(registrationForm) }}
    <div class="formulaire">
   <div class="lastname">
    {{ form_row(registrationForm.lastname) }}</div>
    <div class="firstname">
    {{ form_row(registrationForm.firstname) }}</div>
    <div class="email">
    {{ form_row(registrationForm.email) }}</div>
    <div class="motdepasse">
    {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
    }) }}</div>
    <div class="term">
     {{ form_row(registrationForm.agreeTerms) }}</div>

        <button type="submit" class="btn">Enregistrer</button>

       </div>
    {{ form_end(registrationForm) }}

    
{% endblock %}
