{% extends 'base.html.twig' %}

{% block title %}Petite Annonces{% endblock %}

{% block body %}

 


<div class="titreclignotant">A la Une</div>
{% for annonces in annonce %}
{% if annonces.image is not empty %}
<div class="container">
<div class="bloc" >
    <div class="titre">{{ annonces.title }}</div>
    
    <img src="{{ asset('uploads/files/' ~ annonces.image ~ ' ') }}" alt="petite annonce">
    <h5><u>Description</u></h5>
    <div class="description">
  {{ annonces.description }} </br></div></br>
  <a href="#openModal" class="btn btn-sm btn-outline-dark">Coordonnées</a>
    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Coordonnées </h2>
   <p>Téléphone:{{annonces.telephone}}Email:{{annonces.mail}}"</p>
</div>
<a href="#close" title="Close" class="close">x</a>
</div>
     {% endif %}


    </br>
</div>

  </div>



{% else %}
        Aucune annonce trouvée.
{% endfor %}
        
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}
