{% extends 'base.html.twig' %}

{% block title %}Petite Annonces{% endblock %}

{% block body %}

 


<h3>A la Une</h3>
{% for annonces in annonce %}
{% if annonces.image is not empty %}
<div class="container">
<div class="bloc" >
    <img src="{{ asset('uploads/files/' ~ annonces.image ~ ' ') }}" alt="petite annonce">
    {{ annonces.title }}
  {{ annonces.description }} </br>
  <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Telephone:{{annonces.telephone}} ou Email:{{annonces.mail}}" >Contacter</button>
    
     {% endif %}


    
</div>
  </div>



{% else %}
        Aucune série trouvée.
{% endfor %}
        
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}
