{% extends 'base.html.twig' %}

{% block title %}Petite Annonces{% endblock %}

{% block body %}


<h3>A la Une</h3>

<div class="block">
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
</div>
    </div>

<div class="block2">
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
<div class="card border-dark mb-3" style="width:35rem;">
    <img class="card-img-top"src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="petite annonce">
<div class="card-body">
    <h4 class="card-title">John Doe</h4> 
  <p class="card-text">Recherche personne pouvant m'aider un un petit déménagement de mon garage.</p>
    <a href="#" class="btn btn-dark">Contacter</a>
</div>
</div>
</div>

     
  

{% endblock %}
